*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color:#6b0f1a ;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
}
h1{
    font-size: 40px;
    color: #dce0d9;
}
.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #731dd8;

}
.main-heading{
    font-size: 30px;
    color: #d4b483;
    margin-top: 5px;
    text-align: center;
}

.list{
    list-style: numbers;
    margin: 10px;
    color: #d4b483;
    font-size: 20px;
}
.second-heading{
    font-size: 30px;
    color: red;
    margin: 10px;
    text-align: center;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
img{
    height: 155px;
    width: 155px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover; 
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

.counter{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#computer-score{
    font-size: 4rem;
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#msg{
    font-size: 2rem;
    display: inline;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}