*{
    margin: 0;
    padding: 0;
}

.heading{
    background-color:#6b0f1a ;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 40px;
    color: #dce0d9;
}
.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #731dd8;

}
.main-heading{
    font-size: 30px;
    color: #d4b483;
    margin-top: 5px;
}

.list{
    list-style: numbers;
    margin: 10px;
    color: #d4b483;
    font-size: 20px;
}
.choice{
   margin: 20px;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img{
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 50%;
}
img:hover{
    border: 2px solid black;
}
img:active{
    border: 4px solid black;
}