*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E9E6FF;
}

.heading{
    background-color:#73683b ;
    height: 12vh;
    line-height: 12vh;
    text-align: center;
}
h1{
    font-size: 40px;
    color: #dce0d9;
}
.rules{
    width: 100%;
    background-color: #B0A084;
    height: 150px;
    width: 250px;
    position: relative;
    top: 20px;
    left: 300px;
    border: 2px solid black;

}
.main-heading{
    font-size: 30px;
    color: #13262F;
    text-decoration: underline;

}
ul{
    list-style-type:disc;
    margin: 10px;
    color: #13262F;
    font-size: 20px;
}
.second-heading{
    font-size: 30px;
    color: #583E23;
    margin: 10px;
    text-align: center;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}
img{
    height: 155px;
    width: 155px;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover; 
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}

.counter{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#computer-score{
    font-size: 4rem;
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
#msg{
    font-size: 2rem;
    display: inline;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}